body {
	background: #fff url(/public/images/snakepattern1.png) center center fixed no-repeat;
	background-size: cover;
	font-family: monospace;
}

#dpad {
	width: 80%;
	margin: 40px 10%;
	position: relative;
}

#dpad div {
	position: absolute;
	width: 50%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 64px;
	line-height: 100px;
}

#dpad #left {
	left: 0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#dpad #right {
	right: 0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#ping {
	position: absolute;
	top: 200px;
	left: 40%;
	right: 40%;
	text-align: center;
	/*background-color: white;*/
	text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff;
	font-size: 24px;
}

#connecting {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 40%;
	text-align: center;
	color: white;
	font-size: 32px;
}