* {
	margin: 0;
}
body {
	font-family: Arial;
	overflow: hidden;
}
#canvas {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 104px;
	left: 0px;
	background-color: #000;
}
#messages {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	color: #A2EF00;
	height: 200px;
	text-align: center;
	font-family: 'Boogaloo', cursive;
	font-size: 32px;
}
#messages p {
	display: none;
}
#footer {
	position: absolute;
	width: 100%;
	height: 104px;
	bottom: 0px;
}
#footer #qr {
	float: left;
	border: 2px solid white;
}
#footer div {
	float: left;
	margin: 20px;
	font-size: 18px;
}
.name {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	padding: 2px;
}
