#{extends 'main.html' /}
#{set title:'Snakes on a Plain' /}
#{set 'moreStyles'}
	#{stylesheet 'view.css' /}
	<link href='http://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
#{/set}

<canvas id="canvas"></canvas>
<div id="messages"></div>
<div id="footer">
	<img src="#" id="qr">
	<div>
		Take your phone and scan the code or go to <a href="#" id="join" target="_blank">...</a> to join the game.
	</div>
</div>

<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/public/javascripts/util.js"></script>
<script src="/public/javascripts/stats.js"></script>
<script src="/public/javascripts/timer.js"></script>
<script src="/public/javascripts/player.js"></script>
<script src="/public/javascripts/game.js"></script>
<script>
var room = '${room}';

var canvas = document.getElementById('canvas');
canvas.width = document.documentElement.clientWidth;
canvas.height = document.documentElement.clientHeight - 104;

var game = new Game(canvas.getContext('2d'), room);
game.start();


Pusher.log = function(message) {
	if (window.console && window.console.log) window.console.log(message);
	//document.getElementById('log').innerHTML += message + '<br>';
	//game.message(message);
};

var joinLink = window.location.href.substring(0, window.location.href.length - "view".length);
joinLink += 'join/' + room;
document.write('<scr'+'ipt src="shorturl?url='+encodeURIComponent(joinLink)+'"></scr'+'ipt>');

var qrsrc = 'http://chart.googleapis.com/chart?chs=100x100&cht=qr&chld=L|0&chl=';
qrsrc += encodeURIComponent(joinLink);
document.getElementById('qr').src = qrsrc;

</script>
