#{extends 'main.html' /}
#{set title:'Snakes on a Plain' /}
#{set 'moreStyles'}
	#{stylesheet 'view.css' /}
#{/set}

<canvas id="canvas"></canvas>
<div id="footer">
	<img src="#" id="qr">
	<div>
		Scan the code to join the game.
	</div>
	<div id="log"></div>
</div>

<script src="http://js.pusher.com/1.11/pusher.min.js"></script>
<script src="/public/javascripts/util.js"></script>
<script src="/public/javascripts/stats.js"></script>
<script src="/public/javascripts/timer.js"></script>
<script src="/public/javascripts/player.js"></script>
<script src="/public/javascripts/game.js"></script>
<script>
var qrsrc = 'http://chart.googleapis.com/chart?chs=100x100&cht=qr&chld=M|0&chl=';
qrsrc += encodeURIComponent(window.location.href.substring(0, window.location.href.length - "view".length));
document.getElementById('qr').src = qrsrc;

var canvas = document.getElementById('canvas');
// TODO is this the way to get proper width and height?
canvas.width = document.documentElement.clientWidth;
canvas.height = document.documentElement.clientHeight - 100;

var game = new Game(canvas.getContext('2d'));
game.start();
/*
//Enable pusher logging - don't include this in production
Pusher.log = function(message) {
	//if (window.console && window.console.log) window.console.log(message);
	//document.getElementById('log').innerHTML += message + '<br>';
};

// Flash fallback logging - don't include this in production
WEB_SOCKET_DEBUG = true;
*/
</script>
