#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Pusher test</h1>

<button id="knopje" onclick="knopje(); return false">knopje</button>

<script src="http://js.pusher.com/1.11/pusher.min.js"></script>

<script>
// Enable pusher logging - don't include this in production
Pusher.log = function(message) {
	if (window.console && window.console.log) window.console.log(message);
};

// Flash fallback logging - don't include this in production
WEB_SOCKET_DEBUG = true;

var pusher = new Pusher('f4bc874a627d26b1eb2b');
var channel = pusher.subscribe('presence-channel');
channel.bind('client-event', function(data) {
	console.log(data);
});

function knopje() {
	var triggered = channel.trigger('client-event', { 'test': true });
	console.log(triggered);
}

</script>
  